.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  transition: opacity .1s linear 0.3s;
}

.footer__column-link:hover {
  opacity: 50%;
  cursor: pointer;
}
