.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  box-sizing: border-box;
  background-color: #1f1f1f;
}

.logo_place_footer {
  background-image: url('../../../images/logo_place_footer.svg');
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: stretch;
  margin: 0px auto;

}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  align-items: streatch;
  justify-content: space-between;
  color: white;
}

.footer__social-icon {
  margin-right: 10px;
  align-items: center;
  width: 16px;
  height: 16px;
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}


.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
