.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.khan {

  margin: 0;
  background-color: #f2f2f2;
  padding-top: 100px;

}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan-title {
  margin: 0;
  line-height: 1, 15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  margin: 50 auto 0;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 36px 0 0;
  line-height: 1, 15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin: 10px 0 0;
  line-height: 1, 15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  width: 80%;
  margin: 68px auto 0;
  display: flex;

}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin: 0 48px 0 0;
  object-fit: cover;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
}
