.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
  justify-content: center;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo_place_header {
  margin: 0;
  position: absolute;
  background-image: url('../images/logo_place_header.svg');
  top: 30px;
  left: 64px;
  z-index: 1;
}

.logo {
  width: 228px;
  height: 32px;
}

.header__title {
  margin: 0;
  margin-left: 64px;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 1;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 1;
}

.header__link {
  margin: 0;
  color: #2f80ed;
  text-decoration: none;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  object-fit: cover;
  background-color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 608px;
  width: 765px;
}

.description {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /*padding: 100px 10% 0px;*/
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 100px auto 100px;
  padding: 0;
}

.two-columns__brief {
  padding: 0;
  margin: 0;
  width: 175px;
  font-size: 18px;
  line-height: 1, 2;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  margin: 0;
  width: 80%;
  min-width: 784px;
  font-size: 18px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph:not(:last-of-type) {
  margin-bottom: 30px;
}

.digits {
  display: flex;
  /*padding: 100px 10% 100px;*/
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.section-title {
  margin: 0;
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
}

.section-subtitle {
  margin-top: 20px;
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
}

.table {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
}

.table__cell {
  margin: 60px auto 0;
  width: 250px;
  list-style-type: none;
}

.table__heading {
  /* Таблицы заголовок */
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.table__text {
  /* Таблицы текст*/
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 20px 0px 0px 0px;
}

.feynman {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 890px;
  background-color: #f2f2f2;
}

.feynman__title {
  margin-top: 100px;
  margin-bottom: 70px;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__image {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
}

.kaufman {
  position: relative;
  display: flex;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.section-title__theme_dark {
  color: white;
  z-index: 2;
}

.section-subtitle__theme_dark {
  color: white;
  z-index: 2;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  list-style-type: none;
  color: white;
  z-index: 2;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-style: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/kaufman-triangle.svg');
  right: -210px;
  z-index: 1;
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  box-sizing: border-box;
  background-color: #1f1f1f;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: stretch;
  margin: 0px auto;

}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  align-items: streatch;
  justify-content: space-between;
  color: white;
}

.footer__social-icon {
  margin-right: 10px;
  align-items: center;
  width: 16px;
  height: 16px;
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}


.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
